In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
def generate_sample_data(theta0, theta1):
    x = np.random.uniform(0, 10, 50)
    y = theta0 + theta1 * x + np.random.randn(50)
    
    return x, y

def create_hypothesis(theta0, theta1):
    return lambda x: theta0 + theta1 * x

In [3]:
def create_cost_function(x, y):
    return lambda h: np.sum((h(x) - y) ** 2) / (2.0 * len(x))

In [4]:
x, y = generate_sample_data(0, 1)
cf = create_cost_function(x, y)

t0, t1 = np.meshgrid(np.linspace(-10, 10, 100), np.linspace(-10, 10, 100))

hv = np.array([
    cf(create_hypothesis(theta0, theta1))
    for theta0, theta1
    in zip(t0.ravel(), t1.ravel())
])

df = pd.DataFrame(list(zip(t0.ravel(), t1.ravel(), hv)), columns=['theta0', 'theta1', 'cf'])
df.sort_values(['cf'], ascending=True).head(10)

        theta0    theta1        cf
5547 -0.505051  1.111111  0.487063
5546 -0.707071  1.111111  0.498225
5451  0.303030  0.909091  0.506723
5452  0.505051  0.909091  0.512551
5548 -0.303030  1.111111  0.516713
5450  0.101010  0.909091  0.541706
5545 -0.909091  1.111111  0.550199
5453  0.707071  0.909091  0.559192
5549 -0.101010  1.111111  0.587175
5449 -0.101010  0.909091  0.617502