In [1]:
import numpy as np
import sklearn as sk
import sklearn.datasets
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
x, y = sk.datasets.make_regression(n_features=4, noise=30)

In [3]:
pd.DataFrame(list(zip(*x.T, y)), columns=['x0', 'x1', 'x2', 'x3', 'y']).describe()

               x0          x1          x2          x3           y
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     0.073504   -0.398587   -0.145217   -0.150607  -33.830627
std      1.130343    0.939246    0.966025    1.075884  113.705634
min     -3.335422   -3.201827   -2.387265   -2.341602 -303.764323
25%     -0.686847   -0.907303   -0.790066   -0.868744 -117.770842
50%      0.101768   -0.345982   -0.204013   -0.073394  -28.448402
75%      0.776018    0.189614    0.589024    0.548438   41.160282
max      2.975509    1.883195    1.991814    2.420697  266.511864

In [4]:
train_x, test_x, train_y, test_y = sk.model_selection.train_test_split(x, y)

In [5]:
pd.DataFrame(list(zip(*train_x.T, train_y)), columns=['x0', 'x1', 'x2', 'x3', 'y']).describe()

              x0         x1         x2         x3           y
count  75.000000  75.000000  75.000000  75.000000   75.000000
mean    0.047113  -0.379162  -0.110824  -0.166623  -33.697720
std     1.060638   0.970416   0.994692   1.100830  120.955105
min    -3.335422  -3.201827  -2.387265  -2.341602 -303.764323
25%    -0.714547  -0.877304  -0.839604  -0.930012 -130.254985
50%     0.011824  -0.357660  -0.214683  -0.067435  -40.809328
75%     0.859054   0.196041   0.677163   0.551702   42.440505
max     1.875480   1.883195   1.991814   2.420697  266.511864

In [6]:
pd.DataFrame(list(zip(*test_x.T, test_y)), columns=['x0', 'x1', 'x2', 'x3', 'y']).describe()

              x0         x1         x2         x3           y
count  25.000000  25.000000  25.000000  25.000000   25.000000
mean    0.152679  -0.456864  -0.248397  -0.102561  -34.229350
std     1.339065   0.854806   0.885433   1.017412   90.676320
min    -2.743273  -2.556103  -1.916095  -2.110546 -201.168821
25%    -0.523776  -0.917219  -0.750524  -0.747697 -108.309582
50%     0.259455  -0.041811  -0.193343  -0.080914  -12.225756
75%     0.682674   0.123650   0.546379   0.452817   16.986780
max     2.975509   0.831291   1.401429   2.053663   97.888376

In [7]:
lr = sk.linear_model.LinearRegression()
lr.fit(train_x, train_y)

lr.score(train_x, train_y)

0.95199303603188956

In [8]:
lr.score(test_x, test_y)

0.88842957786798349